.header{
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: white;
}

.header-content{
    max-width: 1250px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgSize{
    width: 100px;
}

.header-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    mat-icon{
        cursor: pointer;
    }
}
