<div class="product">
    <h2>Produtos</h2>
    <br>
    <div class="itens">
        <div *ngFor="let item of items">
            <div class="card">
                <h2>{{item.nome}}</h2>
            </div>
        </div>
    </div>
    
    <!-- <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">
        @if (true) {
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search</mat-icon>
          </button>
        }
    </mat-form-field> -->
</div>