<div class="product">
    <h2>Produtos</h2>
    <br>
    <div class="itens">
        <div *ngFor="let item of items">
            <div class="card">
                <img src="{{item.img}}" alt="produto">
                <h4>{{item.nome}}</h4>
                <h6>{{item.descricao}}</h6>
                <h5>{{item.tipo}}</h5>
                <h5>{{item.diametro}} x {{item.comprimento}}</h5>
                <app-default-button></app-default-button>
        </div>
    </div>
    
    <!-- <mat-form-field class="example-form-field">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text">
        @if (true) {
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search</mat-icon>
          </button>
        }
    </mat-form-field> -->
</div>